<!-- Footer
    ================================================== -->
<footer class="footer footer-home">
  <div class="container">
    <div class="row-fluid">
      <div class="span4 "></div>
      <div class="span4 "></div>
      <div class="span4 ">
        <h2 class="sectiontitle">Contact Us</h2>
        <p>We specialize in delivering quality education at your home all over bangalore.</p>
        <i  class="icon-calendar"></i> +91-9743150945 <br/>
        <i  class="icon-envelope"></i> enquiry@creativehometuition.com
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row-fluid">
        <div class="span6">Copyright &copy; 2012. fireandwheel.com</div>
        <div class="span6">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>