<!-- Footer
    ================================================== -->
<footer class="footer footer-home">
  <div class="container">
    <div class="row-fluid">
      <div class="span6">
        <h2 class="sectiontitle"> Testimonials <!-- Carousel nav -->
          <div class="caronav"> <a class="carousel-control left" href="#testimonials" data-slide="prev"></a><a class="carousel-control right"
                          href="#testimonials" data-slide="next"></a> </div>
        </h2>
        <div>
          <div class="leftBorder"> </div>
          <div class="rightBorder"> </div>
          <!--Carousel here-->
          <div id="testimonials" class="carousel slide home-testimonial"> 
            <!-- Carousel items -->
            <div class="img-quote"> <img src="assets/icon-quote.png" alt="Quote" width="64" height="64" /></div>
            <div class="carousel-inner ">
              <div class="item active">
                <p> Alpha Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit
                  non mi porta gravida at eget metus. <span class="label label-info">Owner - egrappler.com</span> </p>
              </div>
              <div class="item">
                <p> Alpha Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit
                  non mi porta gravida at eget metus. <span class="label label-inverse">CEO - greepit.com</span> </p>
              </div>
              <div class="item">
                <p> Alpha Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit
                  non mi porta gravida at eget metus. <span class="label label-important">Partner - themesforce.com</span> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="span2"></div>
      <div class="span4">
        <h2 class="sectiontitle">Contact Us</h2>
        <p>We specialize in delivering quality education at your home all over bangalore.</p>
        <i  class="icon-calendar"></i> +91-9743150945 <br/>
        <i  class="icon-envelope"></i> enquiry@creativehometuition.com
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row-fluid">
        <div class="span6">Copyright &copy; 2012. www.technochemy.com</div>
        <div class="span6">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
