<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <div class="container">
        <h1>About Us</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row-fluid">
    <div class="span8">
      <h2 class="sectiontitle notopmargin"> What We Do</h2>
      <p> We are in this noble profession since 5 years. During this period we got a vast variety of professional and part time tutors in all major educational sectors. All of our teachers are at work with passion, dedication and manage the same responsibly by Understanding, motivating, creating interest towards the subject are few of the qualities of our teachers. They teach and thrive to bring in the positive change in students’ result by their presence of few hours. Our focus is to provide result oriented classes.</p>
      <div class="row-fluid">
        <div class="span4">
          <ul class="list-services">
            <li><i class="icon-heart"></i> We love to teach</li>
            <li><i class="icon-ok"></i> Experienced teachers</li>
            <li><i class="icon-cog"></i> Crash courses</li>
            <li><i class="icon-picture"></i> Fexible timimgs</li>
          </ul>
        </div>
        <div class="span4">
          <ul class="list-services">
            <li><i class="icon-share"></i> Free Demo class</li>
            <li><i class="icon-info-sign"></i> Home Delivery</li>
            <li><i class="icon-thumbs-up"></i> Doubts clearing sessions</li>
            <li><i class="icon-certificate"></i> Scinece & Engineering Projects</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="row-fluid">
        <div class="span12">
          <h2 class="sectiontitle notopmargin mobilefix"> Who We Are</h2>
          <p> We are a group of teachers, lecturers, professors, engineers, working professional, graduates and post graduates with passion to teach and make the student to exel in their academic and life. We understand that every student has different need, way of understanding and pace of learning and we customize our teaching ways to adapt accordingly.</p>
        </div>
      </div>
    </div>
  </div>
</div>