    <div class="row-fluid">
        <div class="span12">
            <div class="page-header">
                <div class="container">
                    <h1>
                        Contact</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row-fluid contact">
            <div class="span4">
                <ul class="bordered-list">
                    <li class="img-location">Bangalore, India</li>
                    <li class="img-phone"><b>Primary Phone:</b> +91 974 315 0945</li>
                    <li class="img-email">enquiry@creativehometuition.com</li>
                </ul>
            </div>
        </div>
    </div>
