<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <div class="container">
        <h1>FAQ</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <div class="question-section">
        <h4> What is the procedure to get a teacher?</h4>
        <p> Just make a call, provide the information about the student like his/her board, class, subjects, class day, preffered class time, your address with nearest landmark. We will take time for a day to fix most suitable teacher as per your requirenment. </p>
      </div>
      <div class="question-section">
        <h4> Do you provide teacher on monthly basics??</h4>
        <p> Yes , we provide teachers on monthly basics, and on hours basic too. For the crash course we provide on syllabus basics. It depends on requirenment. For higher standard subjects classes me suggest hour basic. </p>
      </div>
      <div class="question-section">
        <h4> Do you provide demo class?</h4>
        <p> Yes, we do provide demo classes at your home. </p>
      </div>
      <div class="question-section">
        <h4> My son is suppose to come here from out station in next two month. To utalise his vacation can I fix the teacher now only?</h4>
        <p> We take advance booking for next 6 month. You can fix and meet your teacher few months earlier. Moreover its like a gift from you to your son. It would be our pleasure to get linked somewhere in the gift. </p>
      </div>
      <div class="question-section">
        <h4> My son is learning from your teacher but we are going to relocate next month from yeshwantpur to Whitefield, will you provide teacher there too?</h4>
        <p> Yes, why not. Our teachers are there in all major areas.</p>
      </div>
      <div class="question-section">
        <h4> I am a house wife I want to learn using PC, internet effitiently, do you have trainer?</h4>
        <p> Yes, we do have trainers who can make you more efficeint at using computer, internet, mail, search and other related skills. </p>
      </div>
      <div class="question-section">
        <h4> I am using your service. I have taken two classes per week, will you provide extra classes during exam time?</h4>
        <p> Please inform about this on the official contact number +91 974 315 0945. </p>
      </div>
      <div class="question-section">
        <h4> I am using your service. I have taken two classes per week, will you provide extra classes during exam time?</h4>
        <p> Your child’s result is our student’s result we cant assured you 100% but we will try out best subject to avability of teacher. </p>
      </div>
      <div class="question-section">
        <h4> How and when should I make the payment?</h4>
        <p> You can pay the fees via online transfer or by depositing in to account. For For cash payment contact us so that we cant send a representative there. You can make the payment at the end of the month.We provide a discount of 5% for advance payment. </p>
      </div>
    </div>
  </div>
</div>