<div class="jumbotron masthead">
  <div id="da-slider" class="da-slider">
    <div class="da-slide">
      <h2> Building the Nation</h2>
      <p> If a country is to be corruption free and become a nation of beautiful minds, there are three key societal members who can make a difference - the father, the mother and the teacher. </p>
      <div class="da-img"> <img src="assets/engage.png" alt="Engage" /></div>
    </div>
    <div class="da-slide">
      <h2> Enjoy Teaching</h2>
      <p> It is the supreme art of the teacher to awaken joy in creative expression and knowledge</p>
      <div class="da-img"> <img src="assets/simplicity.png" alt="Simplicity" /></div>
    </div>
    <div class="da-slide">
      <h2> Concious Learninng</h2>
      <p> Every act of conscious learning requires the willingness to suffer an injury to one's self-esteem.  That is why young children, before they are aware of their own self-importance, learn so easily.</p>
      <div class="da-img"> <img src="assets/plan.png" alt="Plan" /></div>
    </div>
    <div class="da-slide">
      <h2> Enjoy Learning</h2>
      <p> And always, there is the magic of learning things.</p>
      <div class="da-img"> <img src="assets/responsive.png" alt="Responsive" /></div>
    </div>
    <nav class="da-arrows"> <span class="da-arrows-prev"></span> <span class="da-arrows-next"></span> </nav>
  </div>
</div>
<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <h2 class="sectiontitle"> Our Services</h2>
    </div>
  </div>
  <div class="marketing">
    <div class="row-fluid">
      <div class="span3">
        <h3> Educational Subjects</h3>
        <div class="content">
          <div class="Icon"> <i class="icon-customize"></i> </div>
          CBSE<br>ICSE<br>IGCSE/IB<br>STATE<br>PUC/+2<br>UG Courses<br>PG Programmes
        </div>
      </div>
      <div class="span3">
        <h3> Language Classes</h3>
        <div class="content">
          <div class="Icon"> <i class="icon-compatible"></i> </div>
          We guide you to learn new languages<br>
          Kannada<br>
          Hindi<br>
          English<br>
          Sanskrit
        </div>
      </div>
      <div class="span3">
        <h3> Computer Subjects</h3>
        <div class="content">
          <div class="Icon"> <i class="icon-responsive"></i> </div>
          Learn computer skills from industry experts
          Basic PC usage<br>
          Search, Email and Internet<br>
          MS Office<br>
          C, C++, JAVA, .NET<br>
        </div>
      </div>
      <div class="span3">
        <h3> Special classes</h3>
        <div class="content">
          <div class="Icon"> <i class="icon-creative"></i> </div>
          Crash course<br>
          Doubt clarification class for nearby exam<br>
          Fast track class for out-station students<br>
          Group tuition<br>
        </div>
      </div>
    </div>
  </div>
</div>
