<div class="jumbotron masthead">
  <div id="da-slider" class="da-slider">
    <div class="da-slide">
      <h2> Engage & Innovate or Die</h2>
      <p> Gone are the days of building simple websites. Clients are demanding more functionality
        and better results from their websites and we create unforgettable brand experiences.</p>
      <div class="da-img"> <img src="assets/engage.png" alt="Engage" /></div>
    </div>
    <div class="da-slide">
      <h2> Simplicity is a good thing</h2>
      <p> A small river named Duden flows by their place and supplies it with the necessary
        regelialia. It is a paradisematic country, in which roasted parts of sentences fly
        into your mouth.</p>
      <div class="da-img"> <img src="assets/simplicity.png" alt="Simplicity" /></div>
    </div>
    <div class="da-slide">
      <h2> Plan, build, launch & Grow</h2>
      <p> When she reached the first hills of the Italic Mountains, she had a last view back
        on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village
        and the subline of her own road, the Line Lane.</p>
      <div class="da-img"> <img src="assets/plan.png" alt="Plan" /></div>
    </div>
    <div class="da-slide">
      <h2> Best responsive template</h2>
      <p> Even the all-powerful Pointing has no control about the blind texts it is an almost
        unorthographic life One day however a small line of blind text by the name of Lorem
        Ipsum decided to leave for the far World of Grammar.</p>
      <div class="da-img"> <img src="assets/responsive.png" alt="Responsive" /></div>
      <a href="#" class="greenbtnslide da-link">View Our Work</a> </div>
    <nav class="da-arrows"> <span class="da-arrows-prev"></span> <span class="da-arrows-next"></span> </nav>
  </div>
</div>
<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <h2 class="sectiontitle"> Our Services</h2>
    </div>
  </div>
  <div class="marketing">
    <div class="row-fluid">
      <div class="span3">
        <h3> Cross Browser Compatible</h3>
        <div class="content">
          <div class="Icon"> <i class="icon-compatible"></i> </div>
          Donec porttitor, massa nec pharetra volutpat, ipsum augue venenatis magna, a vestibulum
          sem quam id nisi. Sed aliquet, dolor suscipit. </div>
      </div>
      <div class="span3">
        <h3> Easily Customizable</h3>
        <div class="content">
          <div class="Icon"> <i class="icon-customize"></i> </div>
          Donec porttitor, massa nec pharetra volutpat, ipsum augue venenatis magna, a vestibulum
          sem quam id nisi. Sed aliquet, dolor suscipit. </div>
      </div>
      <div class="span3">
        <h3> Fresh Design</h3>
        <div class="content">
          <div class="Icon"> <i class="icon-creative"></i> </div>
          Donec porttitor, massa nec pharetra volutpat, ipsum augue venenatis magna, a vestibulum
          sem quam id nisi. Sed aliquet, dolor suscipit. </div>
      </div>
      <div class="span3">
        <h3> Fully Responsive</h3>
        <div class="content">
          <div class="Icon"> <i class="icon-responsive"></i> </div>
          Donec porttitor, massa nec pharetra volutpat, ipsum augue venenatis magna, a vestibulum
          sem quam id nisi. Sed aliquet, dolor suscipit. </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <div class="info-box">
        <div class="info-content">
          <div class="row-fluid">
            <div class="span9">
              <h2> Agency is a perfect business/portfolio website template, its a responsive HTML template
                created for corporate and portfolio websites. </h2>
            </div>
            <div class="span3"> <a href="#" class="greenbtn" style="float: right;">Purchase Now</a></div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row-fluid">
    <div class="span6">
      <h2 class="sectiontitle"> Testimonials <!-- Carousel nav -->
        <div class="caronav"> <a class="carousel-control left" href="#testimonials" data-slide="prev"></a><a class="carousel-control right"
                        href="#testimonials" data-slide="next"></a> </div>
      </h2>
      <div>
        <div class="leftBorder"> </div>
        <div class="rightBorder"> </div>
        <!--Carousel here-->
        <div id="testimonials" class="carousel slide home-testimonial"> 
          <!-- Carousel items -->
          <div class="img-quote"> <img src="assets/icon-quote.png" alt="Quote" width="64" height="64" /></div>
          <div class="carousel-inner ">
            <div class="item active">
              <p> Alpha Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit
                non mi porta gravida at eget metus. <span class="label label-info">Owner - egrappler.com</span> </p>
            </div>
            <div class="item">
              <p> Alpha Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit
                non mi porta gravida at eget metus. <span class="label label-inverse">CEO - greepit.com</span> </p>
            </div>
            <div class="item">
              <p> Alpha Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit
                non mi porta gravida at eget metus. <span class="label label-important">Partner - themesforce.com</span> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="span3">
      <h2 class="sectiontitle"> Who we are</h2>
      <p> Quisque in magna nisl. In hac <a href="#">habitasse platea dictumst</a>. Sed vitae
        arcu id magna pretium eleifend. Aenean congue turpis eget leo rhoncus vel vehicula
        nisl malesuada mollis est. </p>
      <a href="javascript:" class="btn btn-small btn-success">read more</a> </div>
    <div class="span3">
      <h2 class="sectiontitle"> Let’s keep in touch</h2>
      <p> Quisque in magna nisl. In hac habitasse platea dictumst. Sed vitae arcu id magna
        pretium eleifend. </p>
      <ul class="social">
        <li><a href="#" class="facebook"></a></li>
        <li><a href="#" class="twitter"></a></li>
        <li><a href="#" class="linkedin"></a></li>
        <li><a href="#" class="google"></a></li>
        <li><a href="#" class="skype"></a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <h2 class="sectiontitle first"> Selected Work <!-- Carousel nav -->
        <div class="caronav-full"> <a class="carousel-control left" href="#selected-work" data-slide="prev"></a><a class="carousel-control right"
                        href="#selected-work" data-slide="next"></a> </div>
      </h2>
      <!--Carousel here-->
      <div id="selected-work" class="carousel slide fullsize"> 
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="item active">
            <ul class="thumbnails">
              <li class="span2">
                <div class="thumbnail">
                  <div class="work-item-overlay">
                    <div class="inner">
                      <ul>
                        <li class="gallery-circle green"><a href="work-details.html"> <img src="assets/link.png" alt=""></a></li>
                        <li class="gallery-circle green"><a rel="prettyPhoto[gallery]" href="assets/work1.jpg"> <img src="assets/view.png" alt=""></a></li>
                      </ul>
                    </div>
                  </div>
                  <img src="assets/work1.jpg" alt="" /> </div>
              </li>
              <li class="span2">
                <div class="thumbnail">
                  <div class="work-item-overlay">
                    <div class="inner">
                      <ul>
                        <li class="gallery-circle green"><a href="work-details.html"> <img src="assets/link.png" alt=""></a></li>
                        <li class="gallery-circle green"><a rel="prettyPhoto[gallery]" href="assets/work1.jpg"> <img src="assets/view.png" alt=""></a></li>
                      </ul>
                    </div>
                  </div>
                  <img src="assets/work2.jpg" alt="" /> </div>
              </li>
              <li class="span2">
                <div class="thumbnail">
                  <div class="work-item-overlay">
                    <div class="inner">
                      <ul>
                        <li class="gallery-circle green"><a href="work-details.html"> <img src="assets/link.png" alt=""></a></li>
                        <li class="gallery-circle green"><a rel="prettyPhoto[gallery]" href="assets/work1.jpg"> <img src="assets/view.png" alt=""></a></li>
                      </ul>
                    </div>
                  </div>
                  <img src="assets/work3.jpg" alt="" /> </div>
              </li>
              <li class="span2">
                <div class="thumbnail">
                  <div class="work-item-overlay">
                    <div class="inner">
                      <ul>
                        <li class="gallery-circle green"><a href="work-details.html"> <img src="assets/link.png" alt=""></a></li>
                        <li class="gallery-circle green"><a rel="prettyPhoto[gallery]" href="assets/work1.jpg"> <img src="assets/view.png" alt=""></a></li>
                      </ul>
                    </div>
                  </div>
                  <img src="assets/work4.jpg" alt="" /> </div>
              </li>
              <li class="span2">
                <div class="thumbnail">
                  <div class="work-item-overlay">
                    <div class="inner">
                      <ul>
                        <li class="gallery-circle green"><a href="work-details.html"> <img src="assets/link.png" alt=""></a></li>
                        <li class="gallery-circle green"><a rel="prettyPhoto[gallery]" href="assets/work1.jpg"> <img src="assets/view.png" alt=""></a></li>
                      </ul>
                    </div>
                  </div>
                  <img src="assets/work5.jpg" alt="" /> </div>
              </li>
              <li class="span2">
                <div class="thumbnail">
                  <div class="work-item-overlay">
                    <div class="inner">
                      <ul>
                        <li class="gallery-circle green"><a href="work-details.html"> <img src="assets/link.png" alt=""></a></li>
                        <li class="gallery-circle green"><a rel="prettyPhoto[gallery]" href="assets/work1.jpg"> <img src="assets/view.png" alt=""></a></li>
                      </ul>
                    </div>
                  </div>
                  <img src="assets/work6.jpg" alt="" /> </div>
              </li>
            </ul>
          </div>
          <div class="item">
            <ul class="thumbnails">
              <li class="span2">
                <div class="thumbnail">
                  <div class="work-item-overlay">
                    <div class="inner">
                      <ul>
                        <li class="gallery-circle green"><a href="work-details.html"> <img src="assets/link.png" alt=""></a></li>
                        <li class="gallery-circle green"><a rel="prettyPhoto[gallery]" href="assets/work1.jpg"> <img src="assets/view.png" alt=""></a></li>
                      </ul>
                    </div>
                  </div>
                  <img src="assets/work1.jpg" alt="" /> </div>
              </li>
              <li class="span2">
                <div class="thumbnail">
                  <div class="work-item-overlay">
                    <div class="inner">
                      <ul>
                        <li class="gallery-circle green"><a href="work-details.html"> <img src="assets/link.png" alt=""></a></li>
                        <li class="gallery-circle green"><a rel="prettyPhoto[gallery]" href="assets/work1.jpg"> <img src="assets/view.png" alt=""></a></li>
                      </ul>
                    </div>
                  </div>
                  <img src="assets/work2.jpg" alt="" /> </div>
              </li>
              <li class="span2">
                <div class="thumbnail">
                  <div class="work-item-overlay">
                    <div class="inner">
                      <ul>
                        <li class="gallery-circle green"><a href="work-details.html"> <img src="assets/link.png" alt=""></a></li>
                        <li class="gallery-circle green"><a rel="prettyPhoto[gallery]" href="assets/work1.jpg"> <img src="assets/view.png" alt=""></a></li>
                      </ul>
                    </div>
                  </div>
                  <img src="assets/work3.jpg" alt="" /> </div>
              </li>
              <li class="span2">
                <div class="thumbnail">
                  <div class="work-item-overlay">
                    <div class="inner">
                      <ul>
                        <li class="gallery-circle green"><a href="work-details.html"> <img src="assets/link.png" alt=""></a></li>
                        <li class="gallery-circle green"><a rel="prettyPhoto[gallery]" href="assets/work1.jpg"> <img src="assets/view.png" alt=""></a></li>
                      </ul>
                    </div>
                  </div>
                  <img src="assets/work4.jpg" alt="" /> </div>
              </li>
              <li class="span2">
                <div class="thumbnail">
                  <div class="work-item-overlay">
                    <div class="inner">
                      <ul>
                        <li class="gallery-circle green"><a href="work-details.html"> <img src="assets/link.png" alt=""></a></li>
                        <li class="gallery-circle green"><a rel="prettyPhoto[gallery]" href="assets/work1.jpg"> <img src="assets/view.png" alt=""></a></li>
                      </ul>
                    </div>
                  </div>
                  <img src="assets/work5.jpg" alt="" /> </div>
              </li>
              <li class="span2">
                <div class="thumbnail">
                  <div class="work-item-overlay">
                    <div class="inner">
                      <ul>
                        <li class="gallery-circle green"><a href="work-details.html"> <img src="assets/link.png" alt=""></a></li>
                        <li class="gallery-circle green"><a rel="prettyPhoto[gallery]" href="assets/work1.jpg"> <img src="assets/view.png" alt=""></a></li>
                      </ul>
                    </div>
                  </div>
                  <img src="assets/work6.jpg" alt="" /> </div>
              </li>
            </ul>
          </div>
          <div class="item">
            <ul class="thumbnails">
              <li class="span2">
                <div class="thumbnail">
                  <div class="work-item-overlay">
                    <div class="inner">
                      <ul>
                        <li class="gallery-circle green"><a href="work-details.html"> <img src="assets/link.png" alt=""></a></li>
                        <li class="gallery-circle green"><a rel="prettyPhoto[gallery]" href="assets/work1.jpg"> <img src="assets/view.png" alt=""></a></li>
                      </ul>
                    </div>
                  </div>
                  <img src="assets/work1.jpg" alt="" /> </div>
              </li>
              <li class="span2">
                <div class="thumbnail">
                  <div class="work-item-overlay">
                    <div class="inner">
                      <ul>
                        <li class="gallery-circle green"><a href="work-details.html"> <img src="assets/link.png" alt=""></a></li>
                        <li class="gallery-circle green"><a rel="prettyPhoto[gallery]" href="assets/work1.jpg"> <img src="assets/view.png" alt=""></a></li>
                      </ul>
                    </div>
                  </div>
                  <img src="assets/work2.jpg" alt="" /> </div>
              </li>
              <li class="span2">
                <div class="thumbnail">
                  <div class="work-item-overlay">
                    <div class="inner">
                      <ul>
                        <li class="gallery-circle green"><a href="work-details.html"> <img src="assets/link.png" alt=""></a></li>
                        <li class="gallery-circle green"><a rel="prettyPhoto[gallery]" href="assets/work1.jpg"> <img src="assets/view.png" alt=""></a></li>
                      </ul>
                    </div>
                  </div>
                  <img src="assets/work3.jpg" alt="" /> </div>
              </li>
              <li class="span2">
                <div class="thumbnail">
                  <div class="work-item-overlay">
                    <div class="inner">
                      <ul>
                        <li class="gallery-circle green"><a href="work-details.html"> <img src="assets/link.png" alt=""></a></li>
                        <li class="gallery-circle green"><a rel="prettyPhoto[gallery]" href="assets/work1.jpg"> <img src="assets/view.png" alt=""></a></li>
                      </ul>
                    </div>
                  </div>
                  <img src="assets/work4.jpg" alt="" /> </div>
              </li>
              <li class="span2">
                <div class="thumbnail">
                  <div class="work-item-overlay">
                    <div class="inner">
                      <ul>
                        <li class="gallery-circle green"><a href="work-details.html"> <img src="assets/link.png" alt=""></a></li>
                        <li class="gallery-circle green"><a rel="prettyPhoto[gallery]" href="assets/work1.jpg"> <img src="assets/view.png" alt=""></a></li>
                      </ul>
                    </div>
                  </div>
                  <img src="assets/work5.jpg" alt="" /> </div>
              </li>
              <li class="span2">
                <div class="thumbnail">
                  <div class="work-item-overlay">
                    <div class="inner">
                      <ul>
                        <li class="gallery-circle green"><a href="work-details.html"> <img src="assets/link.png" alt=""></a></li>
                        <li class="gallery-circle green"><a rel="prettyPhoto[gallery]" href="assets/work1.jpg"> <img src="assets/view.png" alt=""></a></li>
                      </ul>
                    </div>
                  </div>
                  <img src="assets/work6.jpg" alt="" /> </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>