<div class="page-header">
	<div class="row-fluid">
	    <div class="span12">
	        <div class="container"><h1>Services</h1> </div>
	    </div>
	</div>
</div>
<div class="container">
    <div class="row-fluid">
        <div class="span12">
        	<h2 class="sectiontitle notopmargin">What We Excel In</h2>
        </div>
    </div>
    
    <div class="row-fluid">
        <div class="span12">
            <div class="feature">
                <div class="feature-circle green">
                    <img src="assets/img/heart.png" alt=""></div>
                <div class="feature-description">
                    <h4>School: Primary, Middle and Secondary school</h4>
                    <p>Teachers are available for all boards like STATE, CBSE, ICSE, IGCSE, IB for all subjects like Math, Physics, Chemistry, Biology, Social Science, Computer Science, EVS, Hindi, Sanskrit, English, Kannada.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row-fluid">
        <div class="span12">
            <div class="feature">
                <div class="feature-circle green">
                    <img src="assets/img/settings.png" alt=""></div>
                <div class="feature-description">
                    <h4>PU(+2) Higher secondary</h4>
                    <p>Math, Physics, Chemistry, Biology, Hindi, Computer Science, Programming Languages, Commerce subjects. Teachers are available for all board like STATE, CBSE, ICSE, IGCSE, IB.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row-fluid">
        <div class="span12">
            <div class="feature">
                <div class="feature-circle grey">
                    <img src="assets/img/formobile.png" alt=""></div>
                <div class="feature-description">
                    <h4>Under Graduate programmes</h4>
                    <p>All major subjects of BE, BTech, BCA, BSc, BBM (Teachers are available for VTU, BU, Jain university, Autonomous universities…for the subjects like Mathematics,  JAVA, .NET, ADA, UNIX, Microprocessor, Signal System, Network Analysis, DSP, Electrical, Electronics.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row-fluid">
        <div class="span12">
            <div class="feature">
                <div class="feature-circle grey">
                    <img src="assets/img/fresh.png" alt=""></div>
                <div class="feature-description">
                    <h4>Post Graduate Programmes</h4>
                    <p>All major subjects of MTech, MCA, MBA, MSc</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="feature">
                <div class="feature-circle blue">
                    <img src="assets/img/customizable.png" alt=""></div>
                <div class="feature-description">
                    <h4>Languages Learning</h4>
                    <p>Sanskrit, Kannada, Hindi, English, French.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row-fluid">
        <div class="span12">
            <div class="feature">
                <div class="feature-circle blue">
                    <img src="assets/img/users.png" alt=""></div>
                <div class="feature-description">
                    <h4>Spoken Classes: Hindi, English</h4>
                    <p>Our team works continuously to provide you the best spoken classes. We support you by Text material, video session and many more tips to learn a language quick and efficiently.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row-fluid">
        <div class="span12">
            <div class="feature">
                <div class="feature-circle red">
                    <img src="assets/img/contact-form.png" alt=""></div>
                <div class="feature-description">
                    <h4>Computer programming languages</h4>
                    <p>C, C++, JAVA, .NET As our city is known for its IT industry, which made a very good impact in our team too. Trainer are not only available for all school, college students but also available for IT professionals. Trainers are available for ICSE JAVA Computer Application.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row-fluid">
        <div class="span12">
            <div class="feature">
                <div class="feature-circle red">
                    <img src="assets/img/support.png" alt=""></div>
                <div class="feature-description">
                    <h4>Computer Basics</h4>
                    <p>Hardware, Peripheral devices, software etc (It is a basics course for home-makers and others.  We provide classes for basics and  further levels of  courses in the field of computers. The following are the main structural topics that we start providing in the field of Computer Organization:  Introduction to PC, Usage of  PC, Files and Folder management, Components of your PC, Basic peripherals, Other Peripheral devices, Understanding the Software, Using the various Internet Browsers (like Internet Explorer, Firefox Mozilla, Google Chrome),Using E-mails in a secure way, Various Troubleshooting Tips., Installation and understanding of Windows Operating System</p>
                </div>
            </div>
        </div>
    </div>
</div>
