<div class="page-header">
	<div class="row-fluid">
	    <div class="span12">
	        <div class="container"><h1>Services</h1> </div>
	    </div>
	</div>
</div>
<div class="container">
    <div class="row-fluid">
        <div class="span12">
        	<h2 class="sectiontitle notopmargin">What We Excel In</h2>
        </div>
    </div>
    
    <div class="row-fluid">
        <div class="span3">
            <div class="feature">
                <div class="feature-circle green">
                    <img src="assets/img/heart.png" alt=""></div>
                <div class="feature-description">
                    <h4>
                        Website Design</h4>
                    <p>
                        Clean, professional bespoke website produced for clients all over the world.</p>
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="feature">
                <div class="feature-circle green">
                    <img src="assets/img/settings.png" alt=""></div>
                <div class="feature-description">
                    <h4>
                        Lots Of Features</h4>
                    <p>
                        Clean, professional bespoke website produced for clients all over the world.</p>
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="feature">
                <div class="feature-circle grey">
                    <img src="assets/img/formobile.png" alt=""></div>
                <div class="feature-description">
                    <h4>
                        Mobile Friendly</h4>
                    <p>
                        Clean, professional bespoke website produced for clients all over the world.</p>
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="feature">
                <div class="feature-circle grey">
                    <img src="assets/img/fresh.png" alt=""></div>
                <div class="feature-description">
                    <h4>
                        Fresh Ideas</h4>
                    <p>
                        Clean, professional bespoke website produced for clients all over the world.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <div class="feature nobottommargin">
                <div class="feature-circle blue">
                    <img src="assets/img/customizable.png" alt=""></div>
                <div class="feature-description">
                    <h4>
                        Easily Customizable</h4>
                    <p>
                        Clean, professional bespoke website produced for clients all over the world.</p>
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="feature nobottommargin">
                <div class="feature-circle blue">
                    <img src="assets/img/users.png" alt=""></div>
                <div class="feature-description">
                    <h4>
                        Built For Humans</h4>
                    <p>
                        Clean, professional bespoke website produced for clients all over the world.</p>
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="feature nobottommargin">
                <div class="feature-circle red">
                    <img src="assets/img/contact-form.png" alt=""></div>
                <div class="feature-description">
                    <h4>Working Contact Form</h4>
                    <p>
                        Clean, professional bespoke website produced for clients all over the world.</p>
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="feature nobottommargin">
                <div class="feature-circle red">
                    <img src="assets/img/support.png" alt=""></div>
                <div class="feature-description">
                    <h4>Kick-ass Support</h4>
                    <p>
                        Clean, professional bespoke website produced for clients all over the world.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
        </div>
    </div>
</div>