<div class="container nav-agency">
  <div class="row-fluid">
    <div class="span12">
      <div class="navbar navbar-static-top"> 
        <!-- navbar-fixed-top -->
        <div class="navbar-inner">
          <div class="container"><h1>Creative Home Tuition</h1><p>Delivering Quality Education at your Home</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron masthead">
  <div id="da-slider" class="da-slider">
    <div class="da-slide">
      <h2>Under Construction</h2>
      <p>We are working on to create the magic. For more information on our you can visit our old site <a href='http://creativetuitions.webs.com'>creativetuitions.webs.com</a>
      <br><br>Or<br><br>Call us directly 24x7 at <strong>+91-9743150945</strong></p>
      <div class="da-img"> <img src="assets/responsive.png" alt="Responsive" /></div>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <div class="info-box">
        <div class="info-content">
          <div class="row-fluid">
            <div class="span9">
              <h2>Home tuitions are available all over Bangalore for all your educational requirements. For any queries and requirement, please call us. </h2>
            </div>
            <div class="span3"> <a href="#" class="greenbtn" style="float: right;">+91-9743150945</a></div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
</div>